@model IEnumerable<StackOverflow.Web.Models.CommentListModel>
<div class="container">
    <div class="row">
            <div class="panel-body">
                <ul class="list-group">
                    @foreach (var item in Model)
                    {
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-xs-10 col-md-11">
                                    <div style="word-wrap: break-word;" class="mic-info">
                                        <strong> @Html.DisplayFor(modelItem => item.Votes)</strong>
                                        <a href=@Url.Action("UpVote", "Comment", new {ID = item.CommentId, qID =ViewData["qID"]}) class="btn btn-success btn-xs" title="Approve">
                                            <span class="glyphicon glyphicon-ok"></span>
                                        </a>
                                        @Html.DisplayFor(modelItem => item.Description) <strong>From</strong>: @(item.OwnerId.Equals(ViewData["loginUser"]) ? Html.ActionLink(item.OwnerName, "UserProfile", "Account", new {id = item.OwnerId}, null) : Html.ActionLink(item.OwnerName, "Profile", "Account", new {id = item.OwnerId}, null)) on @Html.DisplayFor(modelItem => item.CreationDate)
                                       
                                        <a href=@Url.Action("DelteComment", "Comment", new {ID = item.CommentId, qID = ViewData["qID"]}) class="btn btn-danger btn-xs" title="Delete">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    }
                </ul>
            </div>
    </div>
</div>
