<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Environment" value="local"/>
  </appSettings>
  <connectionStrings>
    <add name="local" connectionString="Data Source=(localdb)\ProjectsV12;Initial Catalog=StackOverflowDB;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False" providerName="System.Data.SqlClient"/>
    <add name="remote" connectionString="Server=be15b54f-f47b-4155-8808-a44c0012a0c3.sqlserver.sequelizer.com;Database=dbbe15b54ff47b41558808a44c0012a0c3;User ID=ffvbytzgkuelvojq;Password=hyut47oSHNEZhUAf2cGYAKbqTRFycMieZrTJGW4p7gAsofhLwfGWaEnDwdHmzWQ5;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>